$space: 1rem;
$space-1: .5rem;
$space-2: .25rem;
$settings-space: .5rem;
$shadow: 0px 0px 16px 0px rgba(0,0,0,.5);
$border-radius: 1rem;


$bg-1: #12141A;
$bg-2: #171A21;
$bg-ac-1: #1E2230;
$bg-alpha-1: hsla(237, 100%, 70%, .05);

$key-1: #8B5CF6;
$key-1-alpha: hsl(258, 90%, 66%, .5);
$key-2: #646cff;
$key-2: #646cff88;

$text-1: rgba(255, 255, 255, 0.87);
$text-2: #fff;
