# APP / API
APP_ENV=development
API_PORT=3000
OLLAMA_URL=http://ollama:11434
REDIS_URL=redis://starfish-redis:6379
OLLAMA_PORT=11434
REDIS_PORT=6379
USED_AS_REMOTE=true

# FRONTEND
VITE_API_URL=http://localhost:3000/api

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://192.168.1.11:5173

# BUILD
ELECTRON_MODE=false