# APP / API
APP_ENV=development
API_PORT=3000
OLLAMA_URL=http://ollama:11434
REDIS_URL=redis://starfish-redis:6379
OLLAMA_PORT=11434
REDIS_PORT=6379
USED_AS_REMOTE=true


# NETWORK
SECURE=true
HOST=localhost
USE_EXTERNAL_SSL=false

# FRONTEND
VITE_SECURE=true
VITE_HOST=localhost
VITE_USED_AS_REMOTE=true

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost,https://localhost

# BUILD
ELECTRON_MODE=false