# APP / API
APP_ENV=production
API_PORT=80

# NETWORK
SECURE=true
HOST=example.com

# FRONTEND
VITE_API_URL=https://example.com
VITE_SECURE=true
VITE_HOST=example.com

# CORS
ALLOWED_ORIGINS=https://example.com